* {
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  height: 100%;
  background-color: whitesmoke;
}

/* NAVIGATION */

#navbar {
  display: flex;
  position: fixed;
  justify-content: end;
  align-items: start;
  width: 100%;
  height: 40px;
  top: 0;
  background-color: whitesmoke;
}

#menu {
  display: inherit;
  align-items: start;
  padding-right: 15px;
}

.menu {
  padding: 10px;
}

a {
  color: #00415a;
  text-decoration: none;
}

/* BODY */
#main-body {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}

#home {
  display: flex;
  width: 100%;
  height: 300px;
  background-color: antiquewhite;
}

#home-left,
#home-right {
  display: inherit;
  height: 100%;
  padding: 10px;
}

#home-left {
  flex-basis: 40%;
  display: inherit;
  padding-right: 50px;
  justify-content: end;
}

#home-right {
  align-items: center;
  flex-basis: 60%;
}

#pfp {
  border-radius: 50%;
}

/* ABOUT */

#about {
  padding: 20px;
  align-self: center;
  margin: 10px 50px;
  width:  75%;
  /* max-width: 700px; */
}

p {
  margin: 0;
}

/* PROJECT */

#projects {
  flex-direction: column;
  padding: 50px 150px;
  background-color: antiquewhite;
}

#projects > h2 {
  margin-left: 30px;
}

#project-container {
  display: inherit;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 200px;
  margin: 20px;
  border-radius: 5px;
  transition: 0.2s ease-in;
  overflow: hidden;
  border-radius: 5px;
  background-color: #EBDCC8;
}

.project > a {
  color: black;
}

.project > a:hover {
  color: #00415a;
}

.project > a:active {
  opacity: 80%;
}

/* CONTACT SECTION */

#contact {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact > div {
  width: 75%;
}

#contact > div > p {
  margin-bottom: 10px;
}

#media-handle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
}

.media-handles {
  width: 25px;
  padding: 5px 0px;
  margin: 0;
}

.media-handles:active {
  opacity: 70%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 75%;
  height: 450px;
}

form > * {
  margin: 5px;
  color: black;
}

#name > h4 {
  margin: 0;
}

#name-input {
  display: flex;
}

#name-input > div {
  display: inherit;
  flex-direction: column;
  flex-basis: 50%;
  padding: 10px;
  padding-left: 0px;
}

.name {
  height: 30px;
  padding: 5px;
}

#email {
  width: 300px;
  height: 30px;
  padding: 10px 5px;
  margin-bottom: 20px;
}

#message {
  height: 150px;
  padding: 10px 5px;
  resize: none;
}

input,
textarea {
  color: black;
  font-size: 0.9rem;
}

#submit-btn {
  width: 70px;
  height: 30px;
  background-color: darkcyan;
  border: 0;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
  font-weight: 500;
}
